<form>
  <div class="input-group">
    <span class="input-group-label">Search string: </span>
    <input class="input-group-field" type="text">
    <span class="input-group-label">offset = </span>
    <input class="input-group-field" type="number">
    <div class="input-group-button">
      <input type="submit" class="button" value="GET request">
    </div>
  </div>
</form>
