<div class="callout secondary">
  <h3>User story:</h5>
  <ul>
    <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
    <li> I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
    <li>I can get a list of the most recently submitted search strings.</li>
  </ul>
</div>

<div class="callout secondary">
  <h3>Example:</h5>
  <ul>
    <li>
      You can search for images like this:<br>
      <a href="http://localhost:3000/cat?offset=2">http://localhost:3000/cat?offset=2</a>
    </li>
    <li>
      You can browse recent search queries like this:<br>
      <a href="http://localhost:3000/latest_searches">http://localhost:3000/latest_searches</a>
    </li>
  </ul>
  <p>
    Or you can simulate GET request by filling and submitting form below.
  </p>
</div>
